<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{naslov}}</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="kont">
    <header>
        <div class="user">
            <p>{{username | lower}}</p>
            <img src="{{ url_for('static', filename='images/user-icon.png') }}" alt="User Icon" width="70px">  
        </div>
        <img class="slika2" src="{{ url_for('static', filename='images/icon.png') }}" alt="Icon" width="70px">
    </header>
    <nav>
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="?id=1">Temperatura</a>
        <a href="?id=2">Vlaga</a>
    </nav>
    <main>
        <table>
            <thead>
                <th>Datum</th>  
                <th>{{tip}}</th>
            </thead>  
            <tbody>
              
                {%for d in data%}
                <tr>
                    <td >{{d[1]}}</td>
                    <td >{{d[2]}}</td>
                    <td>
                        <form action="{{ url_for('delete', id_stupca=d[0], id_podatka=tip_podatka[0]) }}" method="POST" >
                            <input type="submit" value="Obriši" class="button">
                        </form>
                    </td>
                </tr>
                {%endfor%}
            </tbody>            
        </table>
    </main>
</div>
</body>
</html>